{% extends 'accounts/base.html' %}

{% block title %}Вход в аккаунт | {{block.super}}{% endblock %}

{% block auth %}
  <form class="form-signin pt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text-center mt-5 b-1">
      <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
      <p class="h5 font-weight-light">Войдите, чтобы управлять</p>
    </div>

    {% if form.non_field_errors %}
      <div class="alert alert-danger">{{form.non_field_errors}}</div>
    {% endif %}

    <div class="mt-5 form-label-group">
      <p class="text-muted">Логин</p>
      <input type="text" name="username" id="inputLogin" class="form-control" required autofocus>
      <label for="inputLogin"></label>
    </div>
    <div class="form-label-group">
      <p class="text-muted"> Пароль</p>
      <input type="password" name="password" id="inputPassword" class="form-control" required>
      <label for="inputPassword"></label>
    </div>

    <div class="checkbox mb-3"></div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
  </form>
  <div class="mt-4 text-center"><p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь!</a></p></div>
{% endblock %}
