{% load catalog_filters %}

{% for specialty in specialties %}
    <div class="col-6 col-md-6 col-lg-3">
        <div class="card pt-4 text-center mb-4">
            <a href="{% url 'specialty_vacancies_list' specialty.code %}" style="max-width: 150px;" class="mx-auto d-block">
                <img class="mx-auto d-block" src="{{specialty.picture.url}}" width="80" height="80" alt="image {{specialty.code}}">
            </a>
            <div class="card-body">
                <p class="card-text mb-2">{{specialty.title}}</p>
                <p class="card-text">
                    <a href="{% url 'specialty_vacancies_list' specialty.code %}">
                        {{specialty.vacancies_count|ending:'вакансия'}}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}