{% extends 'base.html' %}

{% block title %}Вакансии компании | {{block.super}}{% endblock %}

{% block content %}

  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      {% include 'catalog/employer/includes/mycompany_sidebar.html' %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">

            <!-- Tab -->
            <section>
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      {% if form.title.errors %}
                        <div class="alert alert-danger">{{form.title.errors}}</div>
                      {% endif %}
                      <label class="mb-2 text-dark" for="vacancyTitle">Название вакансии</label>
                      <input class="form-control" name="title" type="text" value="" id="vacancyTitle">
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      {% if form.specialty.errors %}
                        <div class="alert alert-danger">{{form.specialty.errors}}</div>
                      {% endif %}
                      <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                      <select class="custom-select mr-sm-2" name="specialty" id="userSpecialization">
                        <option selected>---</option>
                        {% for specialty in form.specialty.field.choices.queryset %}
                          <option value="{{specialty.id}}">{{specialty.title}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      {% if form.salary_min.errors %}
                        <div class="alert alert-danger">{{form.salary_min.errors}}</div>
                      {% endif %}
                      <label class="mb-2 text-dark" for="vacancySalaryMin">Зарплата от</label>
                      <input class="form-control" name="salary_min" type="text" value="" id="vacancySalaryMin">
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      {% if form.salary_max.errors %}
                        <div class="alert alert-danger">{{form.salary_max.errors}}</div>
                      {% endif %}
                      <label class="mb-2" for="vacancySalaryMax">Зарплата до</label>
                      <input class="form-control" name="salary_max" type="text" value="" id="vacancySalaryMax">
                    </div>
                  </div>
                </div>

                <div class="form-group pb-2">
                  {% if form.skills.errors %}
                    <div class="alert alert-danger">{{form.skills.errors}}</div>
                  {% endif %}
                  <label class="mb-2 text-dark" for="vacancySkills">Требуемые навыки</label>
                  <textarea class="form-control" name="skills" rows="3" id="vacancySkills" style="color:#000;"></textarea>
                </div>

                <div class="form-group pb-2">
                  {% if form.description.errors %}
                    <div class="alert alert-danger">{{form.description.errors}}</div>
                  {% endif %}
                  <label class="mb-2 text-dark" for="vacancyDescription">Описание вакансии</label>
                  <textarea class="form-control" name="description" rows="13" id="vacancyDescription" style="color:#000;"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
              <!-- END Vacancy info -->
            </section>
            <!-- END Tab -->

          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

