{% extends 'base.html' %}

{% block title %}Моя компания | {{block.super}}{% endblock %}

{% block content %}
  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
    {% include 'catalog/employer/includes/mycompany_sidebar.html' %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">

            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">{{info}}</h2>
              {% if msg %}
                <p class="alert alert-info" role="alert">{{msg}}</p>
              {% endif %}
            {% if info == 'Создание компании' %}
              {% include 'catalog/employer/includes/mycompany_create_form.html' %}
            {% elif info == 'Информация о компании' %}
              {% include 'catalog/employer/includes/mycompany_update_form.html' %}
            {% endif %}
            </section>
            <!-- END Tab -->

          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

