{% extends 'base.html' %}

{% block title %}Вакансии компании | {{block.super}}{% endblock %}

{% block content %}

  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      {% include 'catalog/includes/mycompany_sidebar.html' %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">

            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">{{form.initial.title}}</h2>
              {% if msg %}
                <p class="alert alert-info" role="alert">{{msg}}</p>
              {% endif %}
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      {% if form.title.errors %}
                        <div class="alert alert-danger">{{form.title.errors}}</div>
                      {% endif %}
                      <label class="mb-2 text-dark" for="vacancyTitle">Название вакансии</label>
                      <input class="form-control" name="title" type="text" value="{{form.initial.title}}" id="vacancyTitle">
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                      <select class="custom-select mr-sm-2" name="specialty" id="userSpecialization">
                        <option selected value="{{specialty.id}}">{{specialty}}</option>
                        {% for specialty in form.specialty.field.choices.queryset %}
                          {% if form.initial.specialty != specialty.id %}
                            <option value="{{specialty.id}}">{{specialty.title}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      {% if form.salary_min.errors %}
                        <div class="alert alert-danger">{{form.salary_min.errors}}</div>
                      {% endif %}
                      <label class="mb-2 text-dark" for="vacancySalaryMin">Зарплата от</label>
                      <input class="form-control" name="salary_min" type="text" value="{{form.initial.salary_min}}" id="vacancySalaryMin">
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      {% if form.salary_max.errors %}
                        <div class="alert alert-danger">{{form.salary_max.errors}}</div>
                      {% endif %}
                      <label class="mb-2" for="vacancySalaryMax">Зарплата до</label>
                      <input class="form-control" name="salary_max" type="text" value="{{form.initial.salary_max}}" id="vacancySalaryMax">
                    </div>
                  </div>
                </div>

                <div class="form-group pb-2">
                  {% if form.skills.errors %}
                    <div class="alert alert-danger">{{form.skills.errors}}</div>
                  {% endif %}
                  <label class="mb-2 text-dark" for="vacancySkills">Требуемые навыки</label>
                  <textarea class="form-control" name="skills" rows="3" id="vacancySkills" style="color:#000;">{{form.initial.skills}}</textarea>
                </div>

                <div class="form-group pb-2">
                  {% if form.description.errors %}
                    <div class="alert alert-danger">{{form.description.errors}}</div>
                  {% endif %}
                  <label class="mb-2 text-dark" for="vacancyDescription">Описание вакансии</label>
                  <textarea class="form-control" name="description" rows="13" id="vacancyDescription" style="color:#000;">{{form.initial.description}}</textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
              <!-- END Vacancy info -->

              <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - {{vacancy.applications.all|length}}</h2>
              {% for application in vacancy.applications.all %}
                <div class="card mt-3">
                  <div class="card-body px-4">
                    <p class="mb-1 font-weight-bold">{{application.written_username}}</p>
                    <p class="mb-2"><a href="tel:+79002842324" class="text-dark">{{application.written_phone}}</a></p>
                    <p class="mb-1">{{application.written_cover_letter}}</p>
                  </div>
                </div>
              {% endfor %}
            </section>
            <!-- END Tab -->

          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

