{% extends 'base.html' %}
{% load humanize %}
{% load catalog_filters %}

{% block title %}{{vacancy}} | {{block.super}}{% endblock %}

{% block content %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="javascript:history.back()">Назад</a></p>
        </div>
      </div>

      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="{% url 'company_detail' vacancy.company.id %}">
            <img src="{{vacancy.company.logo.url}}" height="80" alt="{{vacancy.company}}">
          </a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{vacancy.title}}</h1>
            <p class="m-0 pl-3">{{vacancy.salary_min|intcomma}} – {{vacancy.salary_max|intcomma}} Р</p>
          </div>
          <p class="mt-2">
            <a href="{% url 'specialty_vacancies_list' vacancy.specialty.code %}" style="color:black";>{{vacancy.specialty}}</a>
            • {{vacancy.skills|bullet}}
          </p>
          <p class="text-muted mb-4">
            {{vacancy.company}}{% if vacancy.company.employee_count %}({{vacancy.company.employee_count|ending:'человек'}}){% endif %},
            {{vacancy.company.location}}
          </p>
          <div style="line-height: 1.8;">
            {{vacancy.description|safe}}
          </div>

        {% if user.is_authenticated %}
          {% include 'catalog/includes/vacancy_reply_form.html' %}
        {% else %}
          <div class="mt-4 text-center">
            <p><a href="{% url 'login' %}" target="_blank">Авторизируйтесь</a>, чтобы стала доступна форма отклика на вакансию</p>
          </div>
        {% endif %}
        </section>
      </div>
    </div>
  </main>

{% endblock %}